
<mat-form-field appearance="fill">
    <mat-label>Generos</mat-label>
    <mat-select multiple name="generos" [(ngModel)]="generoId">
      <mat-option *ngFor="let genero of listgenre" [value]="genero.id">{{genero.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="filterMovies(generoId)">Filtrar</button>

<div class="scroll-container" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px grid" fxFlexFill fxLayoutAlign="start start">
<app-movie-item fxFlex="15" class="movie-item" *ngFor="let movie of popularMovies" [movieInput]="movie"></app-movie-item>
</div>