<div class="scroll-container" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px grid" fxFlexFill fxLayoutAlign="start start">
    <div fxFlex="15" class="movie-item" *ngFor="let favorito of listaMovies">
        <div><mat-card>
            <mat-card-content>
                <div class="movie-image"> 
                <img [src]="getMovieImageUrl(favorito)" width="100%" />
                </div>
                <h3 class="movie-title">{{favorito.title}}</h3>
        
                <div class="movie-title">{{favorito.overview}}</div>
            </mat-card-content>
            <button><a href="http://localhost:4200"><mat-icon>label_important</mat-icon>Ir a peliculas populares</a></button>

        </mat-card>
    </div>
        </div>
</div>
